@import "tailwindcss";

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    button {
        cursor: pointer;
    }

    img,
    video,
    canvas,
    svg {
        max-width: 100%;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
